<h1>User list</h1>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.address %></td>
          <td>
            <%= button_to 'show', user_path(user.id),
            :method => :get,  :class => "btn btn-success btn-lg" %>
          </td>
          <!-- <td><%#= link_to 'show', user_path(user.id) %></td> -->
          <td>
            <%= link_to 'Edit', edit_user_path(user.id),
            :class => "btn btn-success btn-lg" %>
          </td>
          <td>
            <%= button_to 'Delete',user_path(user.id), method: :delete,
            class: 'btn btn-success btn-lg', data: { confirm: 'are you sure' }%>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
