<h1>Show page</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email id:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>password:</strong>
  <%= @user.password %>
</p>
<%= link_to 'back', users_path %>
